page-home {
  ion-card {
    //background-color: #D3D3D3 !important;
  }
  
  ion-card-header {
    //font-size: 12px !important;
    //text-align: left;
    //background-color: #D8BFD8;
    //color: white !important;
  }
  
  ion-card-content {
    //text-align: left !important;
    
  }
  
  .last_reading_suffix {
    font-size: 20px ;
  }
  
  .device_last_reading2 {
    font-size: 20px;
    color: #579ADD;
  }
  
}
