<section >
  <div class="row">
    <div class="large-8 columns">
      <div class="panel">
	    <h4>Editing Patient</h4>
	    <%= render 'form', patient: @patient %>
	  </div>
    </div>
	
	
  </div>
     
</section>  