<div class="row">
  <div class="large-12 columns">

    <h4>Add Device: <%=@patient.name%></h4>

    <%= render 'form', patient_device: @patient_device %>

    <%= link_to 'Back', :back %>
  </div>
</div>
