page-device {
  ion-title {
    font-size: 9px;
  }
  
  h6 {
    margin-top: 0px !important;
  }
  
  .reading_th_label {
    background-color: #579ADD;
    color: #FFF;
  }
  
  .reading_th_date {
    background-color: #80C038;
    color: #FFF;
  }
  
  .reading_col {
    color: #579ADD;
  }
  
  .date_col {
    color: #80C038;
  }
}
