
<ion-header>

  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Care Plan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Coming Soon!</h3>
  <ion-row>
    <ion-col col-6 class="center">
      <button ion-button (click)="onTakePicture()">Picture </button>
    </ion-col>
    
    
  </ion-row>
  
  <ion-list padding>
    <button ion-button block (click)="startScanning()">scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
    </ion-item>
    <button ion-button block (click)="disconnect()">Disconnect</button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
  
</ion-content>
