<div class="row">
  <div class="columns large-12">
    <h4>Editing Reading</h4>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <%= render 'form', reading: @reading %>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <%= link_to 'Back', :back %>  
  </div>
</div>

