
<div class="row">
  <div class="columns large-12">
    <h4>Users</h4>
  </div>
</div>

<div class="row" >
  <div class="large-12 columns" >
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path %>
  </div>
</div>